body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(26, 26, 156);
}

.divContainer{
    width: 60%;
    height: 90vh;
}

.divv {
    width: 90%;
    height: 100px;
    background-image: url(carroad.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px;
    position: relative;
    opacity: 0.9;
}

.div1{
    position: absolute;
    bottom:20%;
    right:750px;
    transition: all 2s linear;
}

.div2 {
    position: absolute;
    bottom:20%;
    right:750px;
    transition: all 2s ease;
}

.div3 {
    position: absolute;
    bottom:20%;
    right:750px;
    transition: all 2s ease-in;
}

.div4 {
    position: absolute;
    bottom:20%;
    right:750px;
    transition: all 2s ease-in-out;
}

.div5 {
    position: absolute;
    bottom:20%;
    right:750px;
    transition: all 2s ease-out;
}

.forallcar {
    right: 0;
}